{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1>This is Rating Predictor</h1>
    <h3>Still UnderConstruction
    <h4>Supported Category: Pets, Auto Repair ...</h4>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home page</title>-->
<!--</head>-->

<!--    <p>hello from home page</p>-->
<!--    <h1>Home page!</h1>-->
<!--    {% for x in content %}-->
<!--        <p>{{x}}</p>-->
<!--    {% endfor %}-->
<!--<body>-->

<!--</body>-->
<!--</html>-->