{% extends "base.html" %}
{% block title %} Login Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<!-- #  means go back to the same page with # -->
<form action="#" method="post">
    <label for="cate">Category: </label>
    <p><input type="text" name="cate"/></p>
    <label for="cate">Review: </label>
    <p><input type="text" name="rv"/></p>

    <p><input type="submit" value="submit"/></p>

</form>
{% endblock %}